.custom-input {
  .el-input__inner {
    background: rgba(4, 95, 224, 0.5);
    border-radius: 4px;
    border: 1px solid #045FE0;

    height: 62px;
    line-height: 62px;

    color: #FFFFFF;
    font-size: 20px;
  }

  input:-moz-placeholder {
    color: #a9a9a9;
  }

  .el-input__prefix {
    padding: 20px 18px;
    img {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &-mini {
    .el-input__inner {
      height: 36px;
      line-height: 36px;

      font-size: 14px;
    }
  }
}

.custom-date-editor {
  padding: 9px 12px !important;
  background: rgba(4, 95, 224, 0.5) !important;
  border-radius: 4px !important;
  border: 1px solid #045FE0 !important;
  color: white !important;

  .el-input__icon {
    padding-bottom: 11px;
  }
  .el-range-input {
    font-size: 14px;
    color: #FFFFFF !important;
    background: transparent !important;
  }
  .el-range-separator {
    line-height: 14px !important;
    color: #FFFFFF !important;
  }

}

.custom-button {
  height: 66px;
  background: rgba(63, 181, 228, 1) !important;
  border-radius: 8px;
  border: unset !important;

  font-size: 20px !important;
  color: rgba(255, 255, 255, 1) !important;
  line-height: 28px;
}

.custom-primary-button {
  box-shadow: 0px 2px 4px 0px rgba(0, 246, 255, 1) !important;
  border-radius: 9px !important;
  border: 2px solid rgba(0, 246, 255, 1) !important;
  background: rgba(0, 115, 255, 1) !important;
  font-size: 20px !important;
  color: #00F6FF !important;
}

.custom-form {
  .el-form-item__label {
    font-size: 20px;
    line-height: 62px;
    color: #A7CBD6;
  }

  .el-button--primary {
    color: #000205;
    background-color: #00F6FF !important;
  }
  &-mini {
    .el-form-item__label {
      font-size: 20px;
      line-height: 42px;
      color: #A7CBD6;
    }
    .el-input {
      .el-input__inner {
        height: 42px;
        line-height: 42px;
        padding-left: 20px !important;

        color: rgba(135, 208, 255, 1);
        font-size: 20px;
      }

      .el-input__prefix {
        padding: 20px 18px;
      }
    }

    .el-button {
    }
  }
}

.custom-pagination {
  text-align: right;
  .el-pager li {
    color: #87D0FF !important;
    background: transparent !important;
    border: 1px solid rgba(135, 208, 255, 1) !important;

    &.active {
      color: white;
      background: rgba(29, 113, 206, 1) !important;
    }
  }

  .el-pagination .el-select .el-input {
    width: 70px;
  }

  .el-pagination__total {
    color: #87D0FF;
    margin-left: 5px;
  }

  .btn-prev, .btn-next, .el-pagination__sizes .el-input__inner {
    background: #87D0FF !important;
    color: #000205 !important;
    border: 1px solid rgba(135, 208, 255, 1) !important;
  }

  button:disabled {
    background: #5887a6 !important;
    color: #000205 !important;
  }
}

.header-crumb {
  width: calc(100% - 23px);
  height: 64px;

  background: rgba(0, 115, 255, 0.2);
  border-radius: 4px;

  font-size: 18px;
  color: #00F6FF;

  padding-left: 23px;
  line-height: 64px;
}

.custom-table {
  height: 100%;
  //overflow: auto;
  color: #CDDDEA !important;
  //color: rgba(255,255,240,1) !important;
  background: #113A65 !important;
  outline: solid 1px #0073FF;
  border-radius: 4px;

  &::before {
    background: transparent !important;
  }

  .el-table__header {
    th, tr {
      background: #06A6FF !important;
      color: #001537 !important;
      font-size: 18px;
    }
  }

  td, th.is-leaf {
    border-bottom: 0.5px solid #0073FF !important;
    border-right: 0.5px solid #0073FF !important;
  }
  tr .hover-row {
    background: #114371 !important;
    td {
      background: #114371 !important;
    }
  }

  .el-table__body {
    tr {
      background: transparent;
      border-color: #0073FF;
    }

    tr:hover > td {
      background-color: #0073FF !important;
    }
  }

  .el-table__fixed-right-patch {
    background-color: transparent;
    border-bottom: unset;
  }

}


.sjbg-custom-table {
  color: #CDDDEA !important;
  background: #113A65 !important;
  border-radius: 4px;

  &::before {
    background: transparent !important;
  }

  .el-table__header {
    th, tr {
      background: #06A6FF !important;
      color: #001537 !important;
      font-size: 18px;
      border: none !important;
    }
    th:first-child{
      border-radius: 5px 0px 0px 5px;
    }
    th:last-child{
      border-radius: 0px 5px 5px 0px;
    }
  }

  td, th.is-leaf {
    height: 100%;
    border-bottom: 1px solid #0073FF !important;
    border-right: 1px solid #0073FF !important;
  }
  td:first-child{
      border-left: 1px solid #0073FF !important;
      border-radius: 5px 0px 0px 5px;

  }
  td:last-child{
    border-radius: 0px 5px 5px 0px;
  }
 
  .el-table__body {
    tr {
      background: transparent;
    }

    tr:hover > td {
      background-color: #0073FF !important;
    }
  }
}


* {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #00F6FF !important;
    transition: background-color 0.3s;
    display: none;

    &:hover {
      background-color: #00F6FF;
    }
  }

  ::-webkit-scrollbar-corner {
    background-color: #1171B4;
  }

  &::-webkit-scrollbar-track {
    background: #1171B4;
  }

  ::-webkit-scrollbar-button {
    background: #1171B4;
  }
  ::-webkit-scrollbar-button:single-button {
    background-color: #1171B4;
    color: #00F6FF;
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
  }

  /* Up */
  ::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent #404040 transparent;
  }
}

// 百度地图

// 修复百度地图marker图标覆盖
.BMap_Marker div img {
  width: 100%;
  height: 100%;
}

.anchorBL{
  display: none;
}